*{
    margin: 0;
    background-color: lightpink;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: white;
    text-align: center;
    margin: 1em;
}

.gallery{
    margin: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.gallery-item{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-height: 30%;
    max-width: 30%;
}

.cestitka{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 1pt solid white;
    color: white;
    margin-bottom: 3em;
}

.cestitka-slika{
    margin: 1em;
    max-width:50%;
}

.text-cestitke{
    margin: 1em;
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: space-evenly;
}

@media screen and (max-width: 800px) {
    h1{
        color: white;
        text-align: center;
        font-size: 16pt;
        margin: 1em;
    }
    
    .gallery{
        margin: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    
    .gallery-item{
        display: flex;
        align-content: center;
        margin-left: auto;
        margin-right: auto;
        max-width: 300px;
        max-height: 300px;
    }
    
    .cestitka{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        font-size: 12pt;
        border: 1pt solid white;
        color: white;
        margin-bottom: 3em;
    }
    
    .cestitka-slika{
        vertical-align: middle;
        margin: 0.5em;
    }

    .text-cestitke{
        margin: 1em;
        display: flex;
        flex-direction: column;
        text-align: justify;
        justify-content: stretch;
    }
}